# Ollama
OLLAMA_URL="http://localhost:11434"

#OPENAI API URL AND KEY
OPENAI_API_KEY="openai-api-key"
OPENAI_BASE_URL="openai-baseurl"

# Qdrant
QDRANT_URL="http://localhost:6333"
QDRANT_API_KEY="your-api-key"

#Models
EMBEDDING_MODEL="all-MiniLM-L6-v2"
MODEL_ID="llama3.1:8b"

#GitHub
PAT="ghp_yourToken"
GITHUB_API="https://api.github.com"
ORG="username_or_enterprise"
REPO="your_repo_name"