# Ollama
OLLAMA_URL="ollama-url"

#OPENAI API URL AND KEY
OPENAI_API_KEY="openai-api-key"
OPENAI_BASE_URL="openai-baseurl"

# Qdrant
QDRANT_URL="qdrant-url"
QDRANT_API_KEY="api-key"

#Models
EMBEDDING_MODEL="all-MiniLM-L6-v2"
MODEL_ID = "us.anthropic.claude-3-5-haiku-20241022-v1:0"